// Font Open Sans
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@font-face {
    font-family: 'PriscillaScript-Regular';
    src: url('../fonts/PriscillaScript-Regular.eot');
    src: url('../fonts/PriscillaScript-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PriscillaScript-Regular.svg#PriscillaScript-Regular') format('svg'),
         url('../fonts/PriscillaScript-Regular.ttf') format('truetype'),
         url('../fonts/PriscillaScript-Regular.woff') format('woff'),
         url('../fonts/PriscillaScript-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SignericaFat';
    src: url('../fonts/SignericaFat.svg#SignericaFat') format('svg'),
         url('../fonts/SignericaFat.ttf') format('truetype'),
         url('../fonts/SignericaFat.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'Signerica_Fat';
    src: url('../fonts/Signerica_Fat.eot');
    src: url('../fonts/Signerica_Fat.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Signerica_Fat.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SegoeUI-Light';
    src: url('../fonts/SegoeUI-Light.svg#SegoeUI-Light') format('svg'),
         url('../fonts/SegoeUI-Light.ttf') format('truetype'),
         url('../fonts/SegoeUI-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: 'segoe-light';
    src: url('../fonts/segoe-light.eot');
    src: url('../fonts/segoe-light.eot?#iefix') format('embedded-opentype'),
            url('../fonts/segoe-light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SegoeUI-Semibold';
    src: url('../fonts/SegoeUI-Semibold.svg#SegoeUI-Semibold') format('svg'),
            url('../fonts/SegoeUI-Semibold.ttf') format('truetype'),
            url('../fonts/SegoeUI-Semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'segoe-semibold';
    src: url('../fonts/segoe-semibold.eot');
    src: url('../fonts/segoe-semibold.eot?#iefix') format('embedded-opentype'),
            url('../fonts/segoe-semibold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SegoeUI';
    src: url('../fonts/SegoeUI.svg#SegoeUI') format('svg'),
            url('../fonts/SegoeUI.ttf') format('truetype'),
            url('../fonts/SegoeUI.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'segoe-regular';
    src: url('../fonts/segoe-regular.eot');
    src: url('../fonts/segoe-regular.eot?#iefix') format('embedded-opentype'),
            url('../fonts/segoe-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

$font-Priscilla: 'PriscillaScript-Regular';
$font-signerica: 'SignericaFat';

// Colors
$color-white: #fff;
$color-grey: #605f5f;
$color-darkgold: #d5ac6c;
$color-spacegrey: #707070;
$color-lightgrey: #979797;
$color-spacegrey: #707070;
$color-gallerygrey: #797979;
