#gallery {
    padding-top: 85px;
}
.gallery-title{
    text-transform: uppercase;
    color: $color-gallerygrey;
    span {
        font-family: $font-Priscilla;
        text-transform: none;
    }
    img {
        margin-top: -40px;
    }
}

.sizer {
    width: 25%; 
}

.gallery-sizer {
    width: 25%;
}

.gallery-wrapper {
    margin-top: 52px;
}

.gallery__item {
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    transition: all 0.5s ease;
    img {
        object-fit: cover;
        object-position: 0 0;
        width: 100%;
    }
    &:hover {
        transform: scale(0.95);
    }
}

.gallery-more {
    background: rgba(8, 8, 8, 0.5);
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    display: block;
    position: absolute;
    z-index: 1;
    top: 10px;
    opacity: 0;
    transition: all 0.5s ease;
    p {
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
        text-decoration: underline;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -12px;
        margin-left: -37.96px;
        font-family: 'Open Sans';
        color: $color-white;
    }
    &:hover {
        opacity: 1;
    }
}